<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <title>Rascally Raccoon</title>
    <style>
        html,
        body {
            height: 99%;
            display: flexbox;
            background-color: #333;
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: 1.5em;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div>
        <h1>Technically</h1>
    </div>
    <div style="display: flex;align-items: center;justify-content: center;">
        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Technically, alcohol is a solution</p>&mdash; e^👁🥧 (@elonmusk) <a
                href="https://twitter.com/elonmusk/status/1153078534916587520?ref_src=twsrc%5Etfw">July 21, 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div>
        <h1><strong style="color: #81d4fa;">it works</strong></h1>
    </div>
</body>

</html>